@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Select the appropriate menu option to complete the required task! </p>
    <asp:Image runat="server" ImageUrl="~/Images/SimplyDBarLogo.png" />
</div>
