@model SimplyDeliciousBarEvents.Models.LocationModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Location Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"> Location</label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationOwnerFirstName" class="control-label"> Owner First Name</label>
                <input asp-for="LocationOwnerFirstName" class="form-control" />
                <span asp-validation-for="LocationOwnerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationOwnerLastName" class="control-label">Owner Last Name</label>
                <input asp-for="LocationOwnerLastName" class="form-control" />
                <span asp-validation-for="LocationOwnerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationContactNumber" class="control-label">Contact Number</label>
                <input asp-for="LocationContactNumber" class="form-control" />
                <span asp-validation-for="LocationContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
